@font-face {
    font-family: 'ff7';
    src: url('font/Reactor7.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 0.34fr 1.2fr 0.3fr repeat(2, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
}

.div1 { grid-area: 1 / 5 / 2 / 6; }
.div2 { grid-area: 2 / 5 / 3 / 6; }
.div3 { grid-area: 1 / 1 / 3 / 5; }
.div4 { grid-area: 3 / 1 / 4 / 6; }
.div5 { grid-area: 4 / 1 / 6 / 6; }

.div1, .div2, .div3, .div4, .div5 {
    background: linear-gradient(to bottom, #0000A6, #000133);
    font-family: 'ff7', sans-serif;
}

.metal-border {
    position: relative;
    padding: 20px;
    background-color: #1e2430;
    text-align: left;

    border: 5px solid #a8a9ad;
    box-shadow: 
        2px 2px 4px rgba(0, 0, 0, 0.8),
        inset -2px -2px 4px rgba(255, 255, 255, 0.2),
        inset 2px 2px 6px rgba(0, 0, 0, 0.6);

    border-radius: 5px;
}

h1 {
    text-shadow: 
    1px 1px 2px black,   /* Sombra para el borde superior/izquierda */
    -1px -1px 2px black, /* Sombra para el borde inferior/derecha */
    2px 2px 4px black,   /* Agregar mayor grosor */
    -2px -2px 4px black; /* Sombra invertida */
    font-weight: 160;
    transform: scaleY(1.8) translateX(60px) scaleX(1.2);
    
}

.margins {
    position: relative;
    margin-bottom: 50px;
}

.div3 {
    position: relative;
    z-index: 0;  /* Deja que la imagen de la clase .margins esté por encima */
}

.div2 {
    z-index: 9999; /* Nivel más alto */
}

.margins:hover::before {
    content: url('img/ffviicursor.png');
    position: fixed;  /* Esto lo saca del flujo del documento */
    left: -3.3em;
    top: 75%;
    transform: translateY(-50%) scale(0.24);
    width: 1em;
    height: auto;

  }



/* Contenedor para manejar la posición de las imágenes */
.image-container {
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden; /* Para asegurarnos de que todo lo que sobresalga se oculte */
    margin-top: 3.4%;
}

/* Definición de las imágenes */
.image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Hace que las imágenes cubran el contenedor */
    transition: opacity 0.5s ease; /* Transición suave de la opacidad */
}

/* Imagen con filtro pixelado */
.pixelated {
    filter: pixelate(10px); /* Aplicamos el filtro pixelado */
    opacity: 1; /* Inicialmente visible */
}

/* Imagen nítida que aparecerá al pasar el mouse */
.clear {
    opacity: 0; /* Inicialmente oculta */
}

/* Efecto hover */
.image-container:hover .pixelated {
    opacity: 0; /* Oculta la imagen pixelada cuando se pasa el ratón */
}

.image-container:hover .clear {
    opacity: 1; /* Muestra la imagen nítida cuando se pasa el ratón */
}

.text-container {
    position: absolute;
    bottom: -10%;
    text-shadow: 
    1px 1px 2px black,   /* Sombra para el borde superior/izquierda */
    -1px -1px 2px black, /* Sombra para el borde inferior/derecha */
    2px 2px 4px black,   /* Agregar mayor grosor */
    -2px -2px 4px black; /* Sombra invertida */
    font-weight: 160;
    right: 67.4%;
    transform: scaleY(2.8) translateX(10px) scaleX(2.2);
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra el texto verticalmente */
    align-items: flex-start; /* Asegura que el texto se alinee a la izquierda */
    margin-left: 20px; /* Distancia entre imagen y texto */
    height: 100%; /* Asegura que el contenedor de texto tenga la misma altura que la imagen */
    
}

.text-container h2, .text-container p {
    margin: 0; /* Elimina el margen */
    font-size: 1.2rem; /* Ajusta el tamaño de la fuente */
    color: white;  /* Asegura que el texto sea blanco */
    line-height: 1.1; /* Reduce la separación entre las líneas */
}

.text-container .highlight {
    font-weight: bold;  /* Hace que el texto sea negrita */
    color: cyan;        /* Da el color cyan */
}

.text-container .gruesa {
    font-weight: bold;
}